{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Default Title{% endblock %}</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  </head>
  <body>
    <h1>Oi</h1>
    <form action="/create_post/" method="POST" id="post-form">
      <button type="submit" id="post-text" value="oi">manda bala</button>
    </form>
    <script>
      // Submit post on submit
      $('#post-form').on('submit', function(event){
          event.preventDefault();
          console.log("form submitted!");  // sanity check
          create_post();
      });
      function create_post() {
          console.log("create post is working!") // sanity check
          console.log($('#post-text').val())
      };

    </script>
  </body>
</html>
