{% load static %}
<html>
    <div class="tm-img-slider">
        {% for i in "01234"%}

        <div href="" class="tm-slider-img" style="">
<!--  oooooooooooooooooooooooooooooooooooooooooo  INICIO  ooooooooooooooooooooooooooooooooooooooooooooooooooooooo-->

            <div id="graph-container_{{i}}" class="graph-container" style="width: 700; height: 350px; margin-left: auto; margin-right: auto; background-color: rgba(200,200,200,0.0 );">
                <div class="g-content" id="g-content_{{i}}">
                    <div class="g-graphic" style="background-color: transparent;">
                        <h1 class="error_msg" style="position: absolute;left: 180px;top: 150px;color: #AA3333;z-index: 100;"></h1>
                        <img src="{% static 'img/nuvem_palavras_alckimin_0.png' %}"style="width: 70%;margin-left: 10% ;">
                    </div>
                    <img class="img_candidato" src="{% static 'img/default_profile.png' %}" style="width: 70px;position: absolute; top:40px; border-radius:50%;">
                    <h5 class="nome_candidato" style="position: absolute; left: 77px; top:55px;"></h5>
                </div>

    <!--  oooooooooooooooooooooooooooooooooooooooooo  FIM  ooooooooooooooooooooooooooooooooooooooooooooooooooooooo-->
            </div>
        </div>
        {% endfor %}
    </div>
    <script type="text/javascript">
        (function(){
            setupCarousel();
        })()
    </script>
</html>
