{% extends "grafico.html" %}
{% block pregrafico%}
<html>

<style>
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 4px;
    font-size: 16px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: transparent;

}

.dropdown {
    position: absolute;
    display: inline-block;
    right: 5%;
    width: 120px;
    z-index: 99;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1BB;
    min-width: 120px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content p {
    color: black;
    padding: 0px 16px;
    text-decoration: none;
    display: block;
    font-family: inherit;

}

.dropdown p:hover {background-color: #ddd;}
.dropdown-content p:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #99999922;}

.show {display: block;}
</style>

<div class="dropdown">
<button onclick="dispose_itens()" class="dropbtn">Globo g1</button>
  <div id="myDropdown" class="dropdown-content">
    <p value="Uol">Uol</p>
    <p value="Veja">Veja</p>
    <p value="Estadão">Estadão</p>
  </div>
</div>
<script type="text/javascript">
    d3.selectAll(".dropdown-content p[value]")
                        .datum(function(d) {
                            return this.getAttribute("value");
                        })
                        .on("click", change_midia);
    function change_midia(v){
        alert(v);
    }
</script>
</html>
{% endblock %}
