<!DOCTYPE html>
<html>

<head>

    {% load static %}

    <!--script language="javascript" type="text/javascript" src="{% static 'js_images_galery/libraries/p5.js' %}"></script-->
    <!--script language="javascript" type="text/javascript" src="{% static 'js_images_galery/js_images_galery.js' %}"></script-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eco da candidatura</title>
    <!--

Template 2102 Constructive

http://www.tooplate.com/view/2102-constructive

-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tooplate-style.css' %}">
    <!-- referencia de grafico: https://archive.nytimes.com/www.nytimes.com/interactive/2013/05/25/sunday-review/corporate-taxes.html-->

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script>
    var renderPage = true;

    if (navigator.userAgent.indexOf('MSIE') !== -1 ||
        navigator.appVersion.indexOf('Trident/') > 0) {
        /* Microsoft Internet Explorer detected in. */
        alert("Please view this in a modern browser such as Chrome or Microsoft Edge.");
        renderPage = false;
    }
    </script>
    <!-- ajax -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>

<body>
    <!-- Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- Page Content -->
    <div class="container-fluid tm-main" style="background-color: #323130AA;">
        <div class="row tm-main-row">
            <!-- Sidebar -->
            <div id="tmSideBar" class="col-xl-3 col-lg-4 col-md-12 col-sm-12 sidebar">
                <button id="tmMainNavToggle" class="menu-icon">&#9776;</button>
                <div class="inner">
                    <nav id="tmMainNav" class="tm-main-nav">
                        <ul>
                            <li>
                                <a href="#intro" id="tmNavLink1" class="scrolly active" data-bg-img="{% static 'img/populacao.jpeg' %}" data-page="#tm-section-1" data-page-type="carousel">
									<i class="fas fa-home tm-nav-fa-icon"></i>
									<span>Análise</span>
								</a>
                            </li>
                            <li>
                                <a href="#products" id="tmNavLink2" class="scrolly" data-bg-img="{% static 'img/constructive_bg_01.jpg' %}" data-page="#tm-section-2" >
									<i class="fas fa-map tm-nav-fa-icon"></i>
									<span>Sobre o Projeto</span>
								</a>
                            </li>
                            <li>
                                <a href="#company" class="scrolly" data-bg-img="{% static 'img/constructive_bg_03.jpg' %}" data-page="#tm-section-3">
									<i class="fas fa-users tm-nav-fa-icon"></i>
									<span>Nosso Grupo</span>
								</a>
                            </li>
                            <li>
                                <a href="#contact" class="scrolly" data-bg-img="{% static 'img/constructive_bg_04.jpg' %}" data-page="#tm-section-4">
									<i class="fas fa-comments tm-nav-fa-icon"></i>
									<span>Contato</span>
								</a>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12" style="">
                <!-- section 1 -->
                <section id="tm-section-1" class="tm-section" style="position:absolute;margin-left:auto;margin-right:auto;margin-top: 3%;">
                    <link rel="stylesheet" type="text/css" href="{% static 'css/g_formatting_o.css' %}">






                    <div class="" style="margin-left: 8%;margin-right: 8%;">

                        <header class="mb-0 text-center">
                            <h1 class="tm-text-shadow">O Eco dos Candidatos</h1></header>
                        <p class="mb-0 tm-font-big tm-text-shadow text-center" style="line-height: 1.3">Aqui você encontrará a distribuicao de palavras mais faladas nas midias sociais citando os diversos candidatos a presidencia do brasil em 2018.</p>
						<div style="height: 60px; width: 100%;margin-top:40px;">
                        <div class="g-search" style="margin-right: 0%; margin-top: 30px; margin-bottom: 0px; width: 40%">
                            <input type="text" class="form-control" placeholder="pesquise uma palavra de interesse&#x2026;" style="width: 100%;float: left;">
                            <button style="display:none;float:left; position:absolute; padding: .3rem .4rem;font-size: 1rem;line-height: 1.2; margin-left:-30px; margin-top:10px;" id="g-search-clear" class="g-search-clear btn tm-btn">X</button>
                        </div>
                        <div class="g-buttons-views" style="position:absolute; right: 5%;margin-top: 0%;">
                            <button class="btn tm-btn" id="candidatos_view" value="candidatos" style="padding: .8rem .75rem;font-size: 1rem;line-height: 1.7;width: 120px;">Candidato</button>
                            <button class="btn tm-btn" id="eleitores_view" value="eleitores" style="padding: .8rem .75rem;font-size: 1rem;line-height: 1.7;width: 120px;">Eleitores</button>
                            <button class="btn tm-btn bt-active" id="midias_view" value="midias" style="padding: .8rem .75rem;font-size: 1rem;line-height: 1.7; width: 120px;">Midias</button>
                        </div>
                    	</div>
                        <div id="output" ></div>
                        <!--p class="mb-0 tm-font-sm tm-text-shadow text-center" style="line-height: 0.7 margin-top:20px;">distribuição de palavras sobre o Candidato(a): </p-->

                    </div>
                    <div class="popup help"">?
                        <div class="popup_content" id="myPopup" style="position: absolute;left:-800px;">
                            <span>como ler o grafico:</span>
                            <p> <b>Bolinhas:</b> Representam as palavras contidas nos comentários ou notícias sobre o candidato(a) em questão.</br>
                                <b>tamanho da bolinha:</b> Representa a frequência com que a palavra apareceu em comentários ou noticias sobre o(a) candidato(a) </p>
                        </div>
                    </div>
                    <script type="text/javascript">
                        (function(){
                            d3.select(".popup").on("mouseover",function(){
                                d3.select(".popup_content").classed("show",true);
                            }).on("mouseout",function(){
                                d3.select(".popup_content").classed("show",false);
                            });
                        })()

                    </script>
                </section>
                <!-- section 2 -->
                <section id="tm-section-2" class="tm-section">
                    <!-- tm-section-carousel"-->
                    <!--<div class="tm-bg-transparent-gray tm-contact-box-pad">
							<div class="row mb-4">
								<div class="col-sm-12">
									<header><h2 class="tm-text-shadow">hehe</h2></header>
								</div>
							</div>
							<div class="row tm-page-4-content">
							</div>
						</div>-->
                    <div>
                        <header class="mb-4">
                            <h2 class="tm-text-shadow">Como fizemos?</h2></header>
                            <h3>Página em confecção</h3>


                    </div>
                </section>
                <!-- section 3 -->
                <section id="tm-section-3" class="tm-section">
                    <div class="row mb-4">
                        <header class="mx-auto">
                            <a href="http://www.grupoturing.com"><h2 class="tm-text-shadow">O Grupo Turing</h2></a>
                        </header>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
                            <div class="media tm-bg-transparent-black tm-border-white">
                                <i class="fas fa-map-pin tm-icon-circled tm-icon-media"></i>
                                <div class="media-body">
                                    <h3>Pesquisar</h3>
                                    <p> Buscamos conhecimentos em Visão Computacional, Processamento de Linguagem Natural e Aprendisado por reforço </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
                            <div class="media tm-bg-transparent-black tm-border-white">
                                <i class="fas fa-hand-point-down mr-4 tm-icon-circled tm-icon-media"></i>
                                <div class="media-body">
                                    <h3>Aplicar</h3>
                                    <p> Executar as nossas idéias, colocar a mão na massa e causar impactos positivos são os nossos principais focos!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
                            <div class="media tm-bg-transparent-black tm-border-white">
                                <i class="fab fa-fly mr-4 tm-icon-circled tm-icon-media"></i>
                                <div class="media-body">
                                    <h3>Disseminar</h3>
                                    <p> Somos apaixonados em transmitir o que sabemos! Realizamos workshops, treinamentos e palestras com frenquência, <a href="https://www.facebook.com/grupoturing.poliusp/?ref=br_rs">confira!</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
                            <div class="media tm-bg-transparent-black tm-border-white">
                                <i class="fab fa-linode mr-4 tm-icon-circled tm-icon-media"></i>
                                <div class="media-body">
                                    <h3>Diversificar</h3>
                                    <p> Estamos constantemente buscando pela divesidade, inclusão e ética, tanto no âmbito humano e tecnológico! </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section 4 -->
                <section id="tm-section-4" class="tm-section">
                    <div class="tm-bg-transparent-black tm-contact-box-pad">
                        <div class="row mb-4">
                            <div class="col-sm-12">
                                <header>
                                    <h2 class="tm-text-shadow">Contato</h2></header>
                            </div>
                        </div>
                        <div class="row tm-page-4-content">
                            <div class="col-md-6 col-sm-12 tm-contact-col">
                                <div class="contact_message">
                                    <form action="#contact" method="post" class="contact-form">
                                        <div class="form-group">
                                            <input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="Nome" required="">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" id="contact_email" name="contact_email" class="form-control" placeholder="Email" required="">
                                        </div>
                                        <div class="form-group">
                                            <textarea id="contact_message" name="contact_message" class="form-control" rows="9" placeholder="Mensagem" required=""></textarea>
                                        </div>
                                        <button type="submit" class="btn tm-btn-submit tm-btn ml-auto">Enviar</button>
                                    </form>
                                </div>
                            </div>
                            <!--div class="col-md-6 col-sm-12 tm-contact-col">
                                <div class="tm-address-box">
                                    <p>Aliquam interdum, nisl sedd faucibus tempor, massa velit laoreet ipsum, et faucibus sapien magna at enim. Suspendisse a dictum tortor.</p>
                                    <p>Curabitur venenatis leo in augue convallis, vulputate sollicitudin ex maximus.</p>
                                    <address>
                                        120-240 Aliquam nec neque augue
                                        <br> Suspendisse tincidunt nunc,
                                        <br> vitae sagis justo 11000
                                    </address>
                                </div>
                            </div-->
                        </div>
                    </div>
                </section>
            </div>
            <!-- .tm-content -->
            <!--
				<footer class="footer-link">
					<p class="tm-copyright-text">Copyright &copy; 2018 Constructive Co. Ltd. - Design: <a href="https://www.facebook.com/tooplate" target="_parent">Tooplate</a></p>
				</footer>
			-->
        </div>
        <!-- row -->
    </div>
    <div id="preload-01"></div>
    <div id="preload-02"></div>
    <div id="preload-03"></div>
    <div id="preload-04"></div>
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.backstretch.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
    <!-- Slick Carousel -->

    <script type="text/javascript">
        $(function(){
            $.get('/grafico/getView', { 'myView': 'midias'}, function(data) {
                $('#output').html(data); // append to inner html
            });
            d3.selectAll(".g-buttons-views button[value]")
                        .datum(function(d) {
                            return this.getAttribute("value");
                        })
                        .on("click", transitionView);
            function transitionView(value) {

                        d3.selectAll(".g-buttons-views button[value]").classed("bt-active", function(v) {
                            return v === value;
                        })
                        $.get('/grafico/getView', { 'myView': value}, function(data) {
                            $('#output').html(data); // append to inner html
                        });
                    };


        })
    </script>

    <script>
    var slider_index = Math.floor(Math.random() * 3);
    var currentPageID = "#tm-section-1";


    // Setup Carousel

    function setupCarousel() {

        // If current page isn't Carousel page, don't do anything.
        if ($('#tm-section-1').css('display') == "none") {} else { // If current page is Carousel page, set up the Carousel.

            var slider = $('.tm-img-slider');
            var windowWidth = $(window).width();

            if (slider.hasClass('slick-initialized')) {
                slider.slick('destroy');
            }
            /*
            if (windowWidth < 640) {
                slider.slick({
                    dots: true,
                    infinite: true,
                    slidesToShow: 1,
                    slidesToScroll: 1
                });
            } else if (windowWidth < 992) {
                slider.slick({
                    dots: true,
                    infinite: true,
                    slidesToShow: 1,
                    slidesToScroll: 1
                });
            } else {
                */
                // Slick carousel
                slider.slick({
                    dots: true,
                    infinite: true,
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    initialSlide: slider_index,
                });
                slider.on('afterChange', function(){
                        slider_index = slider.slick('slickCurrentSlide');
                    }
                );
            //}

            //slider.slick('slickGoTo', slider_index);



            // Init Magnific Popup
            /*
            $('.tm-img-slider').magnificPopup({
                delegate: 'a', // child items selector, by clicking on it popup will open
                type: 'image',
                gallery: { enabled: true }
                // other options
            });*/
        }
    }
    // Setup Nav
    function setupNav() {
        // Add Event Listener to each Nav item
        $(".tm-main-nav a").click(function(e) {
            e.preventDefault();

            var currentNavItem = $(this);
            changePage(currentNavItem);

            setupCarousel();
            setupFooter();

            // Hide the nav on mobile
            $("#tmSideBar").removeClass("show");
        });
    }

    function changePage(currentNavItem) {
        // Update Nav items
        $(".tm-main-nav a").removeClass("active");
        currentNavItem.addClass("active");

        $(currentPageID).hide();

        // Show current page
        currentPageID = currentNavItem.data("page");
        $(currentPageID).fadeIn(1000);

        // Change background image
        var bgImg = currentNavItem.data("bgImg");
        $.backstretch(bgImg);
    }

    // Setup Nav Toggle Button
    function setupNavToggle() {

        $("#tmMainNavToggle").on("click", function() {
            $(".sidebar").toggleClass("show");
        });
    }

    // If there is enough room, stick the footer at the bottom of page content.
    // If not, place it after the page content
    function setupFooter() {

        var padding = 100;
        var footerPadding = 40;
        var mainContent = $("section" + currentPageID);
        var mainContentHeight = mainContent.outerHeight(true);
        var footer = $(".footer-link");
        var footerHeight = footer.outerHeight(true);
        var totalPageHeight = mainContentHeight + footerHeight + footerPadding + padding;
        var windowHeight = $(window).height();

        if (totalPageHeight > windowHeight) {
            $(".tm-content").css("margin-bottom", footerHeight + footerPadding + "px");
            footer.css("bottom", footerHeight + "px");
        } else {
            $(".tm-content").css("margin-bottom", "0");
            footer.css("bottom", "20px");
        }
    }

    // Everything is loaded including images.
    $(window).on("load", function() {

        // Render the page on modern browser only.
        if (renderPage) {
            // Remove loader
            $('body').addClass('loaded');

            // Page transition
            var allPages = $(".tm-section");

            // Handle click of "Continue", which changes to next page
            // The link contains data-nav-link attribute, which holds the nav item ID
            // Nav item ID is then used to access and trigger click on the corresponding nav item
            var linkToAnotherPage = $("a.tm-btn[data-nav-link]");

            if (linkToAnotherPage != null) {

                linkToAnotherPage.on("click", function() {
                    var navItemToHighlight = linkToAnotherPage.data("navLink");
                    $("a" + navItemToHighlight).click();
                });
            }

            // Hide all pages
            allPages.hide();

            $("#tm-section-1").fadeIn();

            // Set up background first page
            var bgImg = $("#tmNavLink1").data("bgImg");

            $.backstretch(bgImg, { fade: 500 });

            // Setup Carousel, Nav, and Nav Toggle
            setupCarousel();
            setupNav();
            setupNavToggle();
            setupFooter();

            // Resize Carousel upon window resize
            $(window).resize(function() {
                setupCarousel();
                setupFooter();
            });
        }
    });
    </script>

</body>

</html>
