{% extends "grafico.html" %}

{% block pregrafico%}
<html>

<style>
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 4px;
    font-size: 16px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: transparent;

}

.dropdown {
    position: absolute;
    display: inline-block;
    right: 5%;
    width: 120px;
    z-index: 99;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1BB;
    min-width: 120px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content p {
    color: black;
    padding: 0px 16px;
    text-decoration: none;
    display: block;
    font-family: inherit;

}
.descricao{
    position: absolute;
    transform: translate(-130px,0px);
    right:5%;line-height: 1;
    margin-top:9px;
    font-size: 0.8rem;
}

.dropdown p:hover {background-color: #ddd;}
.dropdown-content p:hover {background-color: #ddd;cursor: pointer;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #99999922;}

.show {display: block;}
</style>
<div>
    <p class="descricao">palavras mais postadas pela mídia</p>

</div>
<div class="dropdown">
<button class="dropbtn">{{selected}}</button>
  <div id="myDropdown" class="dropdown-content">
    <p id="uol" value="Uol">Uol</p>
    <p id="veja" value="Veja">Veja</p>
    <p id="estadao" value="Estadão">Estadão</p>
    <p id="folha" value="Folha">Folha</p>
    <p id="g1" value="G1">Globo g1</p>
  </div>
</div>
<script type="text/javascript">
    console.log("midias");
    d3.selectAll(".dropdown-content p[value]")
                        .datum(function(d) {
                            return this.getAttribute("value");
                        })
                        .on("click", change_selection);
            function change_selection(value){
                        $.get('/grafico/getView', { 'myView': value}, function(data) {
                            $('#output').html(data); // append to inner html
                        });

                        d3.select(".dropbtn").text(value);
    }
</script>
</html>
{% endblock %}
