<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

    <title>Across U.S. Companies, Tax Rates Vary Greatly - Interactive Feature - NYTimes.com</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/g_formatting_o.css' %}">
</head>

<body id="interactiveABC" class="interactiveABC">

    <script type="text/javascript">
        var all_svg = [];
        var all_sectorCompany = [];
    </script>
    <div class="ledeStory">
        <div class="g-search" id="g-search">
                        <input type="text" placeholder="encontre uma palavra&#x2026;">
                        <button style="display:none;" class="g-search-clear" id="g-search-clear">X</button>
                    </div>
        {% for i in "12" %}
        <div id="graph-container_{{i}}" class="graph-container" style="width: 350px; height: 400px; border: 3px solid #000000; margin-left: 100px;">

            <div class="g-content" id="g-content_{{i}}">
                <div class="g-graphic">
                    <div class="g-buttons">
                        <br><br>
                    </div>
                </div>
                <div class="g-tip" id="g-tip_{{i}}" style="width:150px;height:80px;display:none; "> <!-- pop up palavras -->
                    <div class="g-tip-shadow"></div>
                    <svg class="g-tip-box" width="150" height="87">
                        <path transform="translate(75,91)" d="M0.5,-6.5l5,-5H74.5v-79H-74.5v79H-5Z" />
                    </svg>
                    <div class="g-tip-content">
                        <div class="g-tip-title">Politica</div>
                        <div class="g-tip-metric" data-name="frequencia">
                            <span class="g-tip-metric-name">Frequencia</span>
                            <span class="g-tip-metric-value">10000</span>
                        </div>
                        <div class="g-tip-metric" data-name="earnings">
                            <span class="g-tip-metric-name">Sentimento</span>
                            <span class="g-tip-metric-value">100%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
            {% for i in "1" %}
            <script>
            //             ------------------------ grafico ---------------------
            function c() {

                var margin = {
                        top: 20,
                        right: 95,
                        bottom: 10,
                        left: 125
                    },
                    width = 400 - margin.left - margin.right,
                    height,
                    tickExtension = 20; // extend grid lines beyond scale range

                var formatPercent = d3.format(".0%"),
                    formatTenthPercent = d3.format(".1%"),
                    formatNumber = d3.format(",.3s"),
                    formatDollars = function(d) {
                        return (d < 0 ? "-" : "") + "$" + formatNumber(Math.abs(d)).replace(/G$/, "B");
                    };

                var nameAll = "candidato X";

                var x = d3.scale.linear()
                    .domain([0, .6])
                    .rangeRound([0, width - 60])
                    .clamp(true)
                    .nice();

                var y0 = d3.scale.ordinal()
                    .domain([nameAll])
                    .range([150]);  // pnameAll text position

                var r = d3.scale.sqrt()
                    .domain([0, 1e4])
                    .range([0, 1]);

                var z = d3.scale.linear().domain([0,1]).range(["#cc2222","#229922"]);

                d3.selectAll(".g-graphic").each(function(d,i){console.log(1)});


                function getDivShape (div, st) {
                    var width = d3.select(div)
                      // get the width of div element
                      .style(st)
                      // take of 'px'
                      .slice(0, -2)
                    // return as an integer
                    return Math.round(Number(width))};
                var w = getDivShape("#graph-container_{{i}}", 'width');
                var h = getDivShape("#graph-container_{{i}}", 'height');

                console.log(w);
                console.log(h);

                var graph = d3.select(".graph-container")
                var chart_function_{{i}} = function(error, doc_palavras) {

                    var candidato_x0 = w;
                    var candidato_y0 = h;

                    var sectors = d3.nest()
                        .key(function(d) {
                            return d.candidato;
                        })
                        .entries(doc_palavras);
                        console.log("sectors: ");
                    console.log(sectors);
                    console.log(doc_palavras);

                    var svg = d3.selectAll(".g-graphic").append("svg")
                        .attr("height", 400 + margin.top + margin.bottom)
                        .attr("width", width + margin.left + margin.right)
                        .append("g")
                        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


                    console.log("svg: ");
                    console.log(svg);
                    sectors.forEach(function(d,i){
                        console.log(d.key);
                        svg.append("g")
                        .attr("class", "g-sector")
                        .selectAll("g")
                        .data(sectors)
                        .enter().append("g")
                        .attr("transform", function(d) {
                            return "translate(0,"+ 0 + ")";
                        });


                    })
                    console.log("ok");
                    var sector = d3.selectAll(".g-sector");

                    console.log(sector);
                    var sectorCompany_{{i}} = sector.append("g")
                        .attr("class", "g-sector-company")
                        .selectAll("circle")
                        .data(function(d) {
                            console.log(d.values);
                            return d.values;

                        })
                        .enter().append("circle")
                        .attr("cx", function(d) {
                            return d.cx + candidato_x0/2;
                        })

                        .attr("cy", function(d) {
                            return d.cy;// + y0(nameAll);
                        })
                        .attr("r", function(d) {
                            return r(d.frequencia);
                        })
                        .style("fill", function(d) {
                            return isNaN(d.sentimento) ? null : z(d.sentimento);
                        })
                        .on("mouseover", mouseover)
                        .on("mouseout", mouseout);

                    console.log("sectorCompany:");
                    console.log(sectorCompany_{{i}});

                    var tip = d3.select("#g-tip_{{i}}");

                    var tipMetric = tip.selectAll(".g-tip-metric")
                        .datum(function() {
                            return this.getAttribute("data-name");
                        });

                    var searchInput = d3.select(".g-search input")
                        .on("keyup", keyuped);

                    var searchClear = d3.select(".g-search .g-search-clear")
                        .on("click", function() {
                            searchInput.property("value", "").node().blur();
                            search();
                        });
                    function keyuped() {
                        console.log({{i}});
                        if (d3.event.keyCode === 27) {
                            this.value = "";
                            this.blur();
                        }
                        search(this.value.trim());
                    }

                    function search(value) {
                        if (value) {
                            var re = new RegExp("\\b" + d3.requote(value), "i");
                            svg.classed("g-searching", true);
                            sectorCompany_{{i}}.classed("g-match", function(d) {
                                return re.test(d.palavra);// || re.test(d.candidato) ;
                            });
                            var matches = d3.selectAll(".g-match");
                            if (matches[0].length === 1) mouseover(matches.datum());
                            else mouseout();
                            searchClear.style("display", null);
                        } else {
                            mouseout();
                            svg.classed("g-searching", false);
                            sectorCompany_{{i}}.classed("g-match", false);
                            searchClear.style("display", "none");
                        }
                    }

                    function mouseoverAnnotation(re) {
                        var matches = sectorCompany_{{i}}.filter(function(d) {
                            return re.test(d.palavra);
                        }).classed("g-active", true);
                        if (d3.sum(matches, function(d) {
                                return d.length;
                            }) === 1) mouseover(matches.datum());
                        else tip.style("display", "none");
                    }

                    function mouseover(d) {
                        sectorCompany_{{i}}.filter(function(c) {
                            return c === d;
                        }).classed("g-active", true);

                        var dx, dy;
                        dx = d.cx + candidato_x0/2, dy = d.cy;//+ y0(nameAll);

                        dy -= 19, dx += 50; // margin fudge factors

                        tip.style("display", null)
                            .style("top", (dy - r(d.frequencia)) + "px")
                            .style("left", dx + "px");

                        tip.select(".g-tip-title")
                            .text( d.palavra);

                        tipMetric.select(".g-tip-metric-value").text(function(name) {
                            switch (name) {
                                case "frequencia":
                                    return formatNumber(d.frequencia);
                                case "earnings":
                                    return formatPercent(d.sentimento);
                            }
                        });
                    }

                    function mouseout() {
                        tip.style("display", "none");
                        sectorCompany_{{i}}.filter(".g-active").classed("g-active", false);
                    }

                }

                var t = d3.tsv("{% static '/data/test_dados_'%}"+{{i}}+".tsv", type, chart_function_{{i}});
                console.log(t);


                function frequencia(d) {
                    return d.frequencia;
                }

                function sentimento(d) {
                    return d.sentimento;
                }
                function type(d) {
                    d.cx = +d.cx - 440;
                    d.cy = +d.cy;
                    //d.frequencia *= 1e6;
                    d.sentimento *= 1;
                    d.frequencia *=2;
                    return d;
                }

            }
            c();
            </script>
            {% endfor %}

    </div>

</body>

</html>
