#interactiveFooter {
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding-top: 12px;
}

.storyHeader h1,
.storySummary {
    margin: auto;
    padding: 0;
    position: relative;
    width: 720px;
}

.storyHeader h1 {
    font-size: 28px;
    margin: 1em auto .3em auto;
}

.bt-active {
    outline: 0;
    border: solid 2.5px #ccc;
    /*box-shadow: 0 0 0 .2rem rgba(33, 33, 0, .5)*/
}

.g-content {
    position: relative;
    font: 11px sans-serif;
}

.g-annotations {
    font-size: 12px;
    line-height: 1.2em;
    position: absolute;
    top: 350px;
}

.g-annotation {
    color: #555;
    position: absolute;
    width: 140px;
}

.g-annotation .g-button {
    width: 140px;
    padding: 15px 50px;
    font-size: 1.3rem;
    font-weight: 300;
    background: transparent;
    border-color: white;
    transition-duration: 0.4s;
}

.g-annotation .g-button:hover {
    color: #33ccff;
    border-color: #33ccff;
}

.g-annotation .g-button:active {
    background: #002e5f;
}

.border {
    border: 3px solid #000000;
}

.g-axis {
    pointer-events: none;
}

.g-axis line {
    fill: none;
    stroke: #CCC;
    shape-rendering: crispEdges;
}

.g-axis path {
    display: none;
}


.g-y.g-axis text {
    font: bold 14px sans-serif ;
}

.g-y.g-axis line {
    stroke: #000;
    stroke-dasharray: 1, 1;
}

.g-overall {
    pointer-events: none;
}

.g-overall line {
    stroke: #000;
    stroke-width: 2px;
}

.g-overall text {
    text-anchor: middle;
}

.g-sector circle {
    fill: #ddd;
    stroke: #000;
    stroke-width: .5px;
}

.g-sector circle.g-active {
    stroke-width: 2px;
}

.g-searching .g-sector .g-match {
    stroke-width: 1px;
}

.g-searching .g-sector circle:not(.g-match) {
    fill-opacity: .2;
}

.g-voronoi {
    fill: none;
    pointer-events: all;
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup_content {
    visibility: hidden;
    width: 800px;
    background-color: #000000DD;
    color: #FFF;
    text-align: center;
    border-radius: 3px;
    padding: 8px 0;
    position: absolute;
    bottom:10px;
    left: 50%;
    margin-left: -80px;
}
.popup_content p {
text-align: left;
line-height: 1;

}
/* Popup arrow */
.popup_content::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #000000DD  transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.help{
    position: fixed; bottom:3px; right: 3px;padding: 5px 5px;align-items: center;
}
.help h3{ margin-bottom: 5px;}
.help:hover{
    cursor: pointer;

}
.help:hover .help_contet{display: block;}


.g-buttons .g-button.g-active,
.g-buttons .g-button:active {
    background: #f0f0f0;
    border-color: #ccc;
    border-top-color: #bbb;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    color: #222;
    font-weight: 600;
}


.g-buttons .g-button:focus {
    z-index: 3;
}

.g-buttons .g-button.g-active {
    z-index: 2;
}

#g-search {
    float: right;
    position: relative;
    margin-right: 154px;
}

#g-search input {
    width: 240px;
    height: 26px;
    font: 12px sans-serif;
    padding: 0 8px;
    border: solid 1px #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
}

#g-search #g-search-clear {
    position: absolute;
    right: 5px;
    top: 5px;
    background: #bbb;
    border: none;
    border-radius: 9px;
    color: #fff;
    font: 10px sans-serif;
    padding: 0;
    width: 18px;
    height: 18px;
}

#g-search #g-search-clear:hover {
    background: #aaa;
}

.g-key-color path {
    display: none;
}

.g-key-color line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.g-arrows {
    position: absolute;
    pointer-events: none;
    top: 0;
    height: 0;
    width: 100%;
}

.g-arrow {
    position: absolute;
    bottom: 5px;
}

.g-arrow-vertical {
    width: 0;
    border-right: solid 1px #ccc;
}

.g-arrow-horizontal {
    height: 0;
    border-top: solid 1px #ccc;
}

.g-tip {
    position: absolute;
    pointer-events: none;

}

.g-tip-shadow {
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
}

.g-tip-content {
    position: absolute;
    padding: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.g-tip-box {
    position: absolute;
    fill: #fff;
    stroke: #000;
    stroke-opacity: .2;
}

.g-tip-title,
.g-tip-metric-value {
    font-weight: bold;
    color: black;
}

.g-tip-title {
    margin-bottom: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.g-tip-metric {
    clear: right;
    padding: 2px 0;
}

.g-tip-metric+.g-tip-metric {
    border-top: solid 1px #eee;
}

.g-tip-metric-value {
    float: right;
}

.g-tip-metric-name {
    color: #777;
}

.g-sector-notes {
    color: #777;
    position: absolute;
    font-size: 11px;
    top: 20px;
    left: 10px;
    margin-top: 65px;
    width: 240px;
}

.g-sector-note {
    position: absolute;
}

.g-annotation b,
.g-sector-note b {
    color: #222;
    cursor: default;
}
